table {
    border-collapse: collapse;
    width: 100%;
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
} 

table th {
    background-color: #696969;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

table tr:hover td {
    background-color: #cacaca;
}

table td {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

caption {
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
}